<div>
  <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Logout</a>
	<h2 style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">The Boardroom <small>Chat to surfers around you</small></h2>
	<!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
	<div class="jumbotron">
		<div class="container" style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">
			<h2>Chat and shit with random people you don't know</h2>
			<p>This should list both the three regional rooms (get fucking freaky with the animations, why not?), and a news feed of some sort, obviously based on like golf or something that has nothing to do with surfing -_-</p>
			<p>
				<a ui-sref="room" class="btn btn-primary btn-lg btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Take me to a room</a>
			</p>
		</div>
	</div>
</div>
