<div>
  <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
	<h2>The Boardroom <small>Chat to surfers around you</small></h2>
	<!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
	<div class="jumbotron">
		<div class="container">
			<h1>Chat and shit with random people you don't know</h1>
			<p>This should list both the three regional rooms (get fucking freaky with the animations, why not?), and a news feed of some sort, obviously based on like golf or something that has nothing to do with surfing -_-</p>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded">Learn more</a>
			</p>
		</div>
	</div>
</div>
