<div>
	<a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded">Logout</a>
	<h2>Regions <small>Select your region to find your spot</small></h2>
	<div class="jumbotron">
		<div class="container">
			<h1>This is home</h1>
			<p>Some text and shit here maybe<br />
					And somehow list the three regions (Western Cape, Eastern Cape, Kwazulu Natal)<br />
					Either with graphics/animations/something/Idon'tknow</p>
			<p>
				<a ui-sref="spots" class="btn btn-primary btn-lg btn-outline btn-rounded">Take me to Spots</a>
			</p>
		</div>
	</div>
</div>
