<div>
  <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Logout</a>
	<h2 style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">Report <small>Spot name and such</small></h2>
	<div class="jumbotron">
		<div class="container" style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">
			<h2>All weather info</h2>
			<p>Including any and all cams available</p>
			<p>
				<a ui-sref="regions" class="btn btn-primary btn-lg btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Take me back home</a>
			</p>
		</div>
	</div>
</div>
