<div>
	<a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Logout</a>
	<h2 style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">Settings <small>Make it yours!</small></h2>
	<!-- <span class="glyphicon glyphicon-dashboard bg-fade"></span> -->
	<div class="jumbotron">
		<div class="container" style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">
			<h2>Things are getting serious</h2>
			<p>Usernames, password management, maybe even...dare I say it...profile *gag* pictures, neat and tidy, or wild, whatever</p>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Save Changes</a>
			</p>
		</div>
	</div>
</div>
