<div>
  <a ui-sref="login" class="pull-right btn btn-primary btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Logout</a>
	<h2 style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">Spots <small>Ummmmmm</small></h2>
	<div class="jumbotron">
		<div class="container" style="font-family: 'PressStart2PRegular' !important; font-size: 12px !important;">
			<h1>List all of the things</h1>
			<p>Do iiiiiiiiiit</p>
			<p>
				<a class="btn btn-primary btn-lg btn-outline btn-rounded" style="font-family: 'PressStart2PRegular' !important; font-size: 10px !important;">Take me somewhere</a>
			</p>
		</div>
	</div>
</div>
