<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">

       <div class="text-center">
        <h2 class="brand">Wavey</h2>
        <img src="images/logo.png" class="user-avatar" />        
      </div>

      <ul class="nav nav-sidebar">
        <li ng-class="{active: $state.includes('regions')}"><a ui-sref="regions">Regions <span class="sr-only">(current)</span></a></li>
        <li ng-class="{active: $state.includes('mySpots')}"><a ui-sref="mySpots">My Spots</a></li>
        <li ng-class="{active: $state.includes('boardroom')}"><a ui-sref="boardroom">The Boardroom</a></li>
        <li ng-class="{active: $state.includes('settings')}"><a ui-sref="settings">Settings</a></li>
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ui-view>
    </div>
  </div>
</div>
</div>
