<div class="login-page">
	<div class="row">
		<div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        	<img src="images/logo.png" class="user-avatar" />
			<h1>Sign Up <small><br />Surf reporting as it should be</small></h1>
			<form role="form" ng-submit="submit()">

				<div class="form-content">
					<div class="form-group">
						<input type="text" class="form-control input-underline input-lg" id="" placeholder="Email">
					</div>

					<div class="form-group">
						<input type="password" class="form-control input-underline input-lg" id="" placeholder="Password">
					</div>

          <div class="form-group">
            <input type="password" class="form-control input-underline input-lg" id="" placeholder="Confirm Password">
          </div>
				</div>

				<button type="submit" class="btn btn-white btn-outline btn-lg btn-rounded">Signup</button>

			</form>

		</div>
	</div>

</div>
